extends ./layout.jade
block content
  .container
    h1 Send us photos of you enjoying cal.js
      form(method='POST', enctype='multipart/form-data')
        input(type='file', name='image', accept='image/*,.pdf')
        input(type='submit', value='Share your Photo!')
